<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="login-panel set-to-top">
        <p class="well lead text-center">
          Using Lycent url shortener service, you can create shortened urls on the fly for no cost at all! Sign in or sign up below to get quantitative analysis of your site(s) visits
        </p>
      </div>

            <div class="col-md-4 col-md-offset-2">
              <%= render "users/user_login_form" %>
            </div>

            <div class="col-md-4">
                <div class="login-panel panel panel-default set-to-top">
                    <div class="panel-heading">
                        <h3 class="panel-title">Or sign up</h3>
                    </div>
                    <%= render "users/user_signup_form" %>
                </div>
            </div>

        </div><!-- col-lg-12-->
    </div>
</div>
