
            <div class="row">

              <div class="col-lg-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Hits
                      </div>
                      <%= render "hits/url_details_table" %>
                      <!-- /.panel -->
                  </div>
                  <!-- /.panel -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
