<nav>
    <div class="navbar-default sidebar no-margin-top fix-div" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="center">
                  <%= image_tag(current_user.gravatar_url(:size => 200), :alt => "user", :class => "circle sidebar-thumb") %>
                </li>
                <li class="text-center">
                    <a href="index.html">
                      <h4><%= "#{current_user.first_name} #{@current_user.last_name}" %></h4>
                      <div class="navbar-right">
                      </div>
                    </a>
                </li>
                <li>
                  <%= link_to user_path(@current_user) do %>
                      <i class="fa fa-dashboard fa-fw"></i> Dashboard
                  <% end %>
                </li>
                <li>
                    <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Edit profile</a>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
