
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Lycent URL Shortener</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="col-lg-12">
      <%= render "about_us_notice_cards" %>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <b>We want to help with your marketing campaigns</b>
                </div>
                <div class="panel-body">
                  <p>Adding flavour to the good-old link shortening services, we show as much detail as possible (and promise to add even more) so that its easy for you to track your shortened url and make informed marketing decision.</p>

                  <p>Process many clicks per day, we strive to make url shortening service faster, easier and better documented.</p>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
