
<div class="container">

   <div class="jumbotron center">
     <h1>Shorten a URL</h1>

      <p class="lead">
        Using Lycent url shortener service, you can create shortened urls on the fly for no cost at all! To shorten a url, type it in and click the button below
      </p>

   </div>

   <!-- Example row of columns -->
   <div class="row">
     <div class="col-lg-4 center">
       <h1><i class="fa fa-bicycle fa-3x green-font"></i></h1>
       <h2>Faster, simple, service</h2>
       <p class="">Our servers are optimized or speedy translation to minimize any lag from our end</p>
     </div>
     <div class="col-lg-4 center">
       <h1><i class="fa fa-cloud-download fa-3x green-font"></i></h1>
       <h2>Dependable translation</h2>
       <p class="">Providing optimum service is key in website proxy delivery. At Lycent, we are focused on providing you the fastest, link shortener service</p>
    </div>
     <div class="col-lg-4 center">
       <h1><i class="fa fa-line-chart fa-3x green-font"></i></h1>
       <h2>Free but value-driven</h2>
       <p class="">Our servers are optimized or speedy translation to minimize any lag from our end</p>
     </div>
   </div>

 </div> <!-- /container -->
